.theme {
  display: flex;
  flex-direction: row;
  gap: 8px;
  background-color: var(--theme_container_background);
  border: 1px solid var(--theme_container_border);
  border-radius: 8px;
  padding: 4px;
  width: fit-content;

  button {
    display: flex;
    align-items: center;
    gap: 4px;
    background-color: var(--theme_container_background);
    border: 1px solid var(--theme_buttons_border);
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;
    font-size: 14px;
    color: var(--text_color);

    &:hover {
      background-color: var(--theme_buttons_hover);
    }

    
    &.active {
      font-weight: 600;
      background-color: var(--theme_buttons_active);
      .light-icon, .dark-icon {
        color: var(--theme_icons_active);
      }
    }
  }
}