.theme {
  display: flex;
  flex-direction: row;
  gap: 8px;
  background-color: #F8F8F8;
  border: 1px solid #E8E8E8;
  border-radius: 8px;
  padding: 4px;
  width: fit-content;

  button {
    display: flex;
    align-items: center;
    gap: 4px;
    background-color: white;
    border: 1px solid #CDCDCD;
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;
    font-size: 14px;

    &:hover {
      background-color: #E8E8E8;
    }
  }
}