.timezone-dropdown {
  select {
    padding: 8px;
    border: none;
    border-bottom: 1px solid var(--dropdown_border_color);
    max-width: 180px;
    font-size: 14px;
    color: var(--text_color);
    background-color: var(--body_background_color);
  }
}