.clock-stage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;

  .timzone-label-container {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    font-size: 24px;
    text-transform: capitalize;
    align-items: center;

    .loc-icon {
      margin-right: 8px;
      height: 20px;
      width: 20px;   
    }
  }

  .date-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    font-size: 24px;
    gap: 8px;
  }

  .time-value {
    font-size: 96px;
  }
}